{% extends "base.html" %}
{% block title %}
  Ошибка 403 Forbidden
{% block content %}
  <h1>Ошибка 403: доступ запрещен на сайте.</h1>
  <p>
    К сожалению, возникла ошибка 403 (Forbidden), и вы не можете получить
    доступ к запрашиваемому ресурсу. Это может произойти, когда вы пытаетесь
    получить доступ к странице, которая защищена паролем, не имеете необходимых
    разрешений или прав, или когда доступ к ресурсу запрещен по соображениям
    безопасности.
  </p>
  <p>
    Пожалуйста, убедитесь, что вы вводите правильный URL-адрес и имеете
    необходимые разрешения для доступа к этому ресурсу. Если вы все еще не
    можете получить доступ, обратитесь к администратору сайта для получения
    дополнительной помощи.
  </p>
{% endblock %}