{% extends "base.html" %}
{% block title %}
  Ошибка 403 CSRF
{% block content %}
  <h1>Ошибка 403: проверка подлинности межсайтового запроса (CSRF) на сайте.</h1>
  <p>
    К сожалению, возникла ошибка 403 (Forbidden), связанная с проверкой
    подлинности межсайтового запроса (CSRF). Это означает, что запрос, который
    вы отправляете на сервер, не прошел проверку подлинности и был отклонен по
    соображениям безопасности.
  </p>
  <p>
    Пожалуйста, убедитесь, что вы отправляете запросы с правильными параметрами
    и используете правильные методы для отправки данных на сервер. Если вы все
    еще не можете отправлять запросы, обратитесь к администратору сайта для
    получения дополнительной помощи.
  </p>
{% endblock %}