{% extends "base.html" %}
{% block title %}Ошибка 404 NOT FOUND{% endblock %}
{% block content %}
  <h1>Ошибка 404: страница не найдена.</h1>
  <p>Страницы с адресом {{ path }} не существует</p>
  <p>
    К сожалению, запрашиваемая вами страница не найдена на сайте. Это может
    произойти, если вы ввели неправильный URL-адрес, страница была удалена или
    перемещена, или возникла другая проблема с доступом к странице.
  </p>
  <p>
    Пожалуйста, проверьте правильность введенного URL-адреса и попробуйте еще
    раз. Если проблема по-прежнему не решена, попробуйте воспользоваться поиском
    на сайте или вернитесь на главную страницу.
  </p>
  <p>
    Извините за неудобства, мы делаем все возможное, чтобы убедиться, что все
    страницы на сайте доступны и функционируют должным образом.
  </p>
  <a href="{% url 'posts:index' %}">Идите на главную</a>
{% endblock %} 