{% extends "base.html" %}
{% block title %}
  Ошибка 500 Internal Server Error
{% endblock %}
{% block content %}
    <h1>Ошибка 500: внутренняя ошибка сервера на сайте./h1>
    <p>
      К сожалению, на сайте произошла ошибка 500 (Internal Server Error).
      Эта ошибка обычно связана с проблемами на сервере, которые могут быть
      вызваны различными причинами, такими как ошибки в коде, проблемы с базой
      данных, недоступность внешних сервисов и т.д.
    </p>
    <p>
      Пожалуйста, попробуйте обновить страницу или повторить попытку позже.
      Если ошибка по-прежнему возникает, пожалуйста, свяжитесь с администратором
      сайта, чтобы он смог решить проблему.
    </p>
    <p>
      Извините за неудобства, мы работаем над устранением этой проблемы.
    </p>
{% endblock %}